#root {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#main {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: left;
}

.react-music-button {
  align-items: center;
  display: flex;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 160px;
  flex-direction: column;
  background-color: white;
  line-height: 135px;
  height: 150px;
  cursor: pointer;
}

.react-music-button span {
  background-color: black;
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: -75px 0 0 -26px;
}

.react-music-button span.active {
  color: red;
}

#meter {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
}

.defcon {
  justify-self: center;
  cursor: pointer;
  font-size: 210px;
  font-weight: bold;
  line-height: 164px;
  height: 150px;
  width: 133px;
}

#visualize {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.react-music-canvas {
}

.react-music-metadata {
  position: flex;
  flex-direction: column;
}

.react-music-metadata span {
  background-color: skyblue;
  height: 20px;
  font-weight: bold;
  padding: 0 10px;
  text-transform: uppercase;
  border: 2px solid black;
}

#defcon-1 {
  background-color: white;
}
#defcon-2 {
  background-color: red;
}
#defcon-3 {
  background-color: yellow;
}
#defcon-4 {
  background-color: green;
}
#defcon-5 {
  background-color: skyblue;
}
